* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Container */
.container {
    max-width: 80%;
    margin: 0 auto;
    /* background-color: royalblue; */
    height: 100vh;
}

/* Cover */
.cover {
    height: 100vh;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    /* position: absolute; */
}

/* Navigation Menu */
.navbar-vertical > * {
    /* position: relative; */

    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: center;
    height: 100vh;
    max-width: 95%;
    background-color: peru;
}

.bg-transparent {
    /* opacity: 0; */
}

.fixed-right {
    position: fixed;
}