* {box-sizing: border-box;}

body, html {
	font-family: Montserrat;
	/* position: absolute; */
	/* height: 100%; */
}

h1, h2, h3, p, ul, li, body {
	/* text-align: center; */
	/* color: #3d484b; */
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.content-wrapper {
	width: 60%;
}

/* align items collapses height of container */
/* align-content: center does nothing on single-line flex */
.flex-layout {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.flex-item {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* Header Section */
.header-banner {
	background-color: #e8dfc7;
}

header h1 {
	font-weight: 900;
	font-size: 300%;
}

/* Navigation Menu */
header nav {
	background-color: #eeeeee;
	padding: 20px 0;
	/* font-family: PT Serif; */
	font-size: 150%;
	/* display: flex; */
	position: fixed;
	width: 100%;
	top: 0;
}

header nav ul {
	list-style: none;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	padding: 0px;
	margin: 0 auto;
}

header nav li a {
	text-decoration: none;
	margin: 0 20px;
}

/* Skill Section */
.skill-container {
	background-color: pink;
}

/* Project Section */
.project-container {
	background-color: aquamarine;
}
