/* GLOBALS */
:root {
    /* COLOR PALETTE */
    --color-primary: #F18370;
    --color-primary-high-contrast: #FF6969;
    --color-light: #fff;
    --color-dark: #464646;
    --color-black: #000;
    --color-yellow: #FFF7E2;
    --color-rose: #F4CBCB;
    --color-yellow: #FFF7E2;

    /* SKILLS SECTION */
    --color-html: #FD7E14;
    --color-css: #149FDA;
    --color-js: #FCDC00;
    --color-react: #61DAFB;
    --color-scss: #CF649A;
    --color-java: #FF3030;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    color: var(--color-dark);
    font-family: Calibri;
}

a {
    color: unset;
}

a:hover {
    /* color: var(--color-primary); */
    opacity: 0.4;
    transition: 0.3s;
}

img {
    /* max height/width so that jpg/png img fits parent container */
    max-height: 100%;
    max-width: 100%;
}

section {
    padding: 100px 0;
}

/* CUSTOM GLOBAL CLASSES */
.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #F18370;
    padding: 5px 25px;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 3px;
    border-bottom: 5px solid var(--color-rose);
    font-weight: 400;
}

/* DESKTOP NAV */
.desktop_nav .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
    margin: 5px auto;
    gap: 20px;
    /* max-width: 1440px; */
}

.desktop_nav .nav_title {
    margin-right: auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.desktop_nav .nav_icon {
    width: 30px;
    height: 30px;
}

.content {
}

/* HOME SECTION */
.home {
    height: 90vh;
    background: linear-gradient(161.99deg, #F18370 0%, rgba(255, 184, 0, 0.08) 100%);
}

.home .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

.home .profile_pic {
    overflow: hidden;
    /* use px + vw or px + % to slowly increase size */
    /* width: 70%; */
    width: calc(200px + 10%);
}

.profile_pic img {
    border-radius: 50%;
}

.home .title {
    font-size: 2rem;
}

.home .title_desc {
    text-transform: uppercase;
    font-family: 'Aclonica', sans-serif;
    font-size: 2.5rem;

}

.home .title_base {
    text-transform: uppercase;
    color: var(--color-light);
    position: relative;
}
.home .title_overlay {
    text-transform: uppercase;
    color: var(--color-primary-high-contrast);
    position: relative;
    top: -96%;
    right: 1%;
    /* make height 0 to remove leftover parent space when floating item */
    height: 0px;
}



/* SKILLS SECTION */
.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 20px;
    width: 80%;
    margin: 0 auto;

    max-width: 1440px;

}

.skills .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styled_components img {
    max-width: unset;
    width: 150px;
    object-fit: cover;
}

.skills .item .skill_icon {
    width: 80px;
}

.html { color: var(--color-html); }
.css { color: var(--color-css); }
.js { color: var(--color-js); }
.react { color: var(--color-react); }
.scss { color: var(--color-scss); }
.java { color: var(--color-java); }

.skills .item .text {
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 3px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
}



/* PROJECTS SECTION */
.projects {
    position: relative;
    background-color: var(--color-yellow);
}

.projects .item {
    max-width: 1440px;
    margin: 100px auto;
}

.projects .text {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.projects .title {
    text-transform: uppercase;
}

.projects .features {
    font-variant: small-caps;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.projects .desc {
    padding-top: 20px;
}

.projects .overlay {
    position: relative;
    width: 100%;
}

.projects .background {
    width: 90%;
    background: linear-gradient(161.99deg, #F18370 0%, rgba(255, 184, 0, 0.08) 100%);
    display: flex;
    margin: 0 auto;
}

.projects .background .wrapper {
    margin: calc(5px + 2%);
}

.projects .mobile {
    width: 40%;
    position: absolute;
    right: 10%;
    top: 60%;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.display .icon {
    width: 26px;
    color: var(--color-primary-high-contrast);
}

@media (min-width: 632px) {
    .home .title {
        font-size: 2.5rem;
    }
    .home .title_desc {
        font-size: 3rem;
    }
}

@media (min-width: 756px) {
    .skills {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .projects .item {
        display: flex;
        flex-direction: row;
    }
}
