* {box-sizing: border-box;}
:root {
    --color-primary: #5B6BC7;
    --color-secondary: #74A4DF;
    --color-accent: #BE87E0;

    --color-neutral-light: #FFFFFF;
    --color-neutral-dark: #243058;
}
html, body {
    font-family: 'Montserrat', 'sans-serif';
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Aclonica';
}
ul, ol {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}

#hero_section {
    background-color: var(--color-neutral-dark);
    height: 100vh;
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
#circle .circle_wrapper {
    /* display: flex; */
}
#circle .circle_image {
    border-radius: 50%;
    max-width: 500px;
    overflow: hidden;
    shape-outside: circle(50%);
    float: left;
    margin-right: 50px;

    box-shadow: 0px 12px 24px -12px var(--color-accent);
    /* -webkit-box-shadow: 0px 12px 24px -12px rgba(256, 256, 256, 0.5); */
}
#circle .circle_text {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* max-height: 200px; */
}
#circle .circle_text li {
    list-style-type: none;
    /* color: var(--color-neutral-light); */
    color: var(--color-accent);
    box-shadow: 0px 12px 24px -12px var(--color-accent);
    font-weight: bold;
    /* height: 100%; */
    font-size: 2rem;
}