@use "util/helpers.scss";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  font-family: Calibri;
}

a {
  color: unset;
}

a:hover {
  /* color: var(--color-primary); */
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  /* max height/width so that jpg/png img fits parent container */
  max-height: 100%;
  max-width: 100%;
}

section {
  padding: 100px 0;
}

/* CUSTOM GLOBAL CLASSES */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  padding: 5px 25px;
  text-transform: uppercase;
  color: var(--color-light);
  letter-spacing: 3px;
  border-bottom: 5px solid var(--color-rose);
  font-weight: 400;
}

/* DESKTOP NAV */
.desktop_nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: var(--color-light);
}

.desktop_nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  margin: 5px auto;
  gap: 20px;
  /* max-width: 1440px; */
}

.desktop_nav .nav_title {
  margin-right: auto;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.desktop_nav .nav_icon {
  width: 30px;
  height: 30px;
}

/* HOME SECTION */
.home {
  height: 90vh;
  background: linear-gradient(161.99deg, #F18370 0%, rgba(255, 184, 0, 0.08) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 calc(1rem + 5vw);
}

.home .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 1440px;
  /* even flex layout */
  width: 100%;
  /* width: 400px; */
  margin: 0 auto;
}

.home .profile_pic {
  overflow: hidden;
  /* use px + vw or px + % to slowly increase size */
  /* width: 70%; */
  width: calc(200px + 10%);
}

.profile_pic img {
  border-radius: 50%;
}

.home .title {
  font-size: 2rem;
}

.home .title_desc {
  text-transform: uppercase;
  font-family: 'Aclonica', sans-serif;
  font-size: 2.5rem;
}

.home .title_base {
  text-transform: uppercase;
  color: var(--color-light);
  position: relative;
}

.home .title_overlay {
  text-transform: uppercase;
  color: var(--color-primary-high-contrast);
  position: relative;
  top: -96%;
  right: 1%;
  /* make height 0 to remove leftover parent space when floating item */
  height: 0px;
}

.home .text {
  /* even 50 50 flex layout */
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: center; */
  /* similar to 1.2rem */
  font-size: calc(1rem + 0.5vw);
  /* same as not having set a font-size */
  /* font-size: 1.2rem + 1vw; */
  /* font-size: 1.2rem; */
  /* font-size: calc(1.2rem); */
}

/* ABOUT SECTION */
/* .about {
    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    position: relative;
}

.about .text {
    width: 50%;
    background-color: teal;
}

.about p {
    background-color: white;
} */
/* SKILLS SECTION */
.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.skills .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.styled_components img {
  max-width: unset;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills .item .skill_icon {
  width: 80px;
}

.html {
  color: var(--color-html);
}

.css {
  color: var(--color-css);
}

.js {
  color: var(--color-js);
}

.react {
  color: var(--color-react);
}

.scss {
  color: var(--color-scss);
}

.java {
  color: var(--color-java);
}

.skills .item .text {
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 3px;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  font-size: 1.2rem;
}

/* PROJECTS SECTION */
.projects {
  position: relative;
  background-color: var(--color-yellow);
}

.projects .item {
  max-width: 1440px;
  margin: 0 auto 100px auto;
}

.projects .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.projects .title {
  text-transform: uppercase;
}

.projects .features {
  font-variant: small-caps;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.projects .desc {
  padding-top: 20px;
}

.projects .overlay {
  position: relative;
  width: 100%;
}

.projects .background {
  width: 90%;
  background: linear-gradient(161.99deg, #F18370 0%, rgba(255, 184, 0, 0.08) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.projects .background .wrapper {
  margin: calc(5px + 2%);
}

.projects .mobile {
  width: 20%;
  /* height: 50%; */
  position: absolute;
  right: 10%;
  top: 40%;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.display .icon {
  width: 26px;
  color: var(--color-primary-high-contrast);
}

@media (min-width: 632px) {
  .home .title {
    font-size: 2.5rem;
  }
  .home .title_desc {
    font-size: 3rem;
  }
}

@media (min-width: 756px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .projects .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=App.css.map */