:root {
  --backgroud-color-gradient: linear-gradient( 109.6deg,  rgba(231, 142, 163, 0.52) 11.2%, rgba(255, 93, 24, 0.801) 91.2% );
  --color-primary: #A52A2A;
  --color-primary-dark: #721D1D;
  --color-secondary: #FF7A41;
  --color-neutral-dark: #2B2D42;
  --color-neutral-light: #ffffff;

  --round: 20px;
  --section-margin-bottom: 10em;
  --section-margin-bottom-small: 5em;
  --margin: 0.4em;

}

svg {
  color: var(--color-primary);
  /* must specify width, or it will be collapsed */
  /* width: 2rem; */
  width: calc(1.2em + 1vw);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

svg:hover {
  color: var(--color-primary-dark);
}

body {
  font-size: calc(1em + 0.5vw);
  color: var(--color-neutral-dark);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Century Gothic';
}

h1 {
  font-size: calc(2em + 0.5vw);
}

h2, h3 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: var(--margin);
}

ul {
  margin: 0;
}

ul a {
  padding: 0 1em;
  color: white;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p {
  margin: 0;
}
  