.heroBanner {
  text-align: center;
}

.heroHeader {
  color: var(--color-neutral-light);
  font-weight: bold;
  text-shadow: 3px 3px 6px var(--color-primary);
  font-size: 2.5rem;
}

.heroText {
  color: var(--color-neutral-light);
  font-weight: bold;
}

.gradient {
  background-image: var(--backgroud-color-gradient);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.inheritHeight {
  height: inherit;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.middle {
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 1rem;
  position: fixed;
  width: 100%;
  opacity: 0.8;
}

.fullHeight {
  height: 100vh;
}

/* make socials to have padding */
.socialIcon {
  padding: 0 1em;
}

svg {
  color: var(--color-primary);
  /* must specify width, or it will be collapsed */
  width: 2rem;
}

.downIcon {
  position: absolute;
  bottom: 0;
  width: 1.2rem;
  color: var(--color-neutral-light);
}

.projectSocials {

}

.desktop {
  /* width: 100%; */
  object-fit: fill;
}

.image-border {
}

.block {
  display: block;
}

.skill {
  border: 1px solid var(--color-neutral-dark);
  border-radius: var(--round);
  padding: 0.1em 0.3em;
  margin: 0 0.3em;
}

.text-align-center {
  text-align: center;
}