.container {
  width: 80%;
  /* background-color: pink; */
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.nav {
  background-color: black;
  padding: 1rem;
  position: fixed;
  width: 100%;
  opacity: 0.8;
}

.HeroBanner {
  height: 100vh;
  background-color: pink;
}