$color-primary: #F18370;
$color-primary-contrast: #FF6969;
$color-secondary: #F4CBCB;
$color-background: #FFF7E2;

$color-border: white;
$color-light: #ffffff;
$color-dark: #181818;
$color-gray: #464646;

$color-html: #FD7E14;
$color-css: #149FDA;
$color-js: #FCDC00;
$color-react: #61DAFB;
$color-scss: #CF649A;
$color-java: #FF3030;